@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,600';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #9a9a9a;
    line-height: 1.5;
}

/* container */

.container {
    margin: 0 auto;
    width: 85%;
}

/* space */

.space {
    margin-bottom: 1rem;
}

/* header */

header {
    background-color: #5385c1;
    color: white;
    padding: 0.75rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: 600;
}

header nav {
    width: 1.5rem;
}

.hamburger {
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: relative;
}

.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    bottom: 0.5rem;
}

.hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 0.5rem;
}

/* section */

.section {
    margin: 2rem 0;
    text-align: center;
}

.section-with-border {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5385c1;
    font-weight: 300;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.75rem;
    font-weight: 100;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

/* paragraph */

p {
    margin-bottom: 2rem;
}

/* subtitle */

.subtitle {
    color: #bbbbbb;
    font-size: 0.9rem;
}

h2 + .subtitle {
    margin-top: -20px;
}
h3 + .subtitle {
    margin-top: -14px;
}

/* definition */

dt {
    font-weight: 600;
}

dd {
    padding-left: 2rem;
}

/* blockquote */

blockquote {
    border-left: solid 4px #dbdbdb;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

/* button */

.button {
    background-color: #5a5a5a;
    border-radius: 0;
    border: 0;
    color: white;
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
}

.button.special {
    background-color: #5385c1;
}

.button.alt {
    background-color: #fff;
    border: 2px solid #dbdbdb;
    color: #555;
}

.button.big {
    font-size: 1.35rem;
    height: 4rem;
    line-height: 4rem;
}

.button.small {
    font-size: 0.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.button-group {
    display: flex;
}

.button-group .button {
    margin: 0 0.5rem;
    flex-grow: 1;
}

.button-group .button:first-child {
    margin-left: 0;
}

.button-group .button:last-child {
    margin-right: 0;
}

.button:disabled {
    opacity: 0.4;
    background-color: #9a9a9a;
    color: white;
}

.image{
    display:block;
    width:40%;
}
.image img{
    display:block;
    width:100%;
}
.right{
    float:right;
    padding:0 0 1rem 1rem;
}
.left{
    float:left;
    padding:0 1rem 1rem 0;
}
.box{
    border:solid 1px #dbdbdb;
    padding:1.5rem;
}
.box p{
    margin:0;
}
footer{
    border-top:solid 1px #dbdbdb;
    font-size:0.8rem;
    text-align:center;
    padding-top:2rem;
    color:#BBB;
}