body{
    margin:0px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color:#9a9a9a;
    font-weight:400;
}
#header{
    background:rgb(47, 47, 187);
    font-size:1em;
    color:white;
    height:44px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
a.logo{
    color:white;
    text-decoration:none;
}
#header .inner{
    margin:0 36px;
    line-height:44px;
}
#nav{
    display:none;
}
.inner{
    margin:0 36px;
    max-width: 85%;
}
#main{
    text-align:center;
    padding:2em 0;
}
img{
    display:none;
}
h2{
    margin-bottom:1em;
}
p{
    margin:0px;
    margin-bottom:1em;
}
.align-center h2{
    margin-bottom:16px;
}
.align-center p{
    font-size:0.9em;
}
.align-center{
    margin-bottom:2em;
}
h2, h3, h4, h5, h6{
    color:#5385c1;
    font-weight:300;
}
b, strong{
    color:#555555;
    font-weight:700;
}
dt{
    margin-bottom:16px;
}
blockquote{
    box-sizing:border-box;
    border-left:4px solid yellow;
    padding:0.5em 0 0.5em 2em;
    font-style:italic;
}