@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,600';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #9a9a9a;
    line-height: 1.5;
}

/* container */

.container {
    margin: 0 auto;
    width: 85%;
}

/* space */

.space {
    margin-bottom: 1rem;
}

/* header */

header {
    background-color: #5385c1;
    color: white;
    padding: 0.75rem 0;
    
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    text-align: right;
    height: 44px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: absolute;
}

#two{
    background: #5385c1;
    color: #bacee6;
}

.box.person .image img {
    max-width: 100%;
}
.image.round img {
    border-radius: 100%;
}
.image img {
    border-radius: 0;
    display: block;
}

#headerindex{
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: none;
}

.hamburger {
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: relative;
}

.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    bottom: 0.5rem;
}

.hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 0.5rem;
}

/* section */

.section {
    margin: 2rem 0;
    text-align: center;
}

.section a{
    text-decoration: none;
    color: #9a9a9a;
}

.section-with-border {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}
.align-center{
    margin: 12% 0 2rem 0;
    text-align:center;
}

article{
    margin-bottom: 3em;
}

.article-1{
    padding: 0 3em 0 0;
}

.flex.flex-3 article{
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 2.5em;
    margin-bottom: 3em;
    text-align: center;
}

#banner{
    padding: 12em 0 10em 0;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    border-top: 0.5em solid #5385c1;
}

#banner h1 {
    font-size: 2.5em;
    font-weight: 100;
    color: #fff;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
}

#banner p{
    font-size: 1em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 1.75em;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5385c1;
    font-weight: 300;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    font-weight: 100;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

/* paragraph */

p {
    margin-bottom: 2rem;
}
dl, dt{
    margin:0 0 1em 0;
}
/* subtitle */

.subtitle {
    color: #bbbbbb;
    font-size: 0.9rem;
}

h2 + .subtitle {
    margin-top: -20px;
}
h3 + .subtitle {
    margin-top: -14px;
}


/* definition */

dt {
    font-weight: 600;
}

dd {
    padding-left: 2rem;
}

/* blockquote */

blockquote {
    border-left: solid 4px #dbdbdb;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

/* button */

.button {
    background-color: #5a5a5a;
    border-radius: 0;
    border: 0;
    color: white;
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
}

.button.special {
    background-color: #5385c1;
}

.button.alt {
    background-color: #fff;
    border: 2px solid #dbdbdb;
    color: #555;
}

.button.big {
    font-size: 1.35rem;
    height: 4rem;
    line-height: 4rem;
}

.button.small {
    font-size: 0.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.button-group {
    display: flex;
}

.button-group .button {
    margin: 0 0.5rem;
    flex-grow: 1;
}

.button-group .button:first-child {
    margin-left: 0;
}

.button-group .button:last-child {
    margin-right: 0;
}

.button:disabled {
    opacity: 0.4;
    background-color: #9a9a9a;
    color: white;
}

.imgsub{
    background-color: white;
}

.image img{
    display:block;
    width:100%;
}
.right{
    float:right;
    padding:0 0 1rem 1rem;
    display:block;
    width:40%;
}
.left{
    float:left;
    padding:0 1rem 1rem 0;
    display:block;
    width:40%;
}
.box{
    border:solid 1px #dbdbdb;
    padding:1.5rem;
}
.box p{
    margin:0;
}
footer{
    border-top:solid 1px #dbdbdb;
    font-size:0.8rem;
    color:#BBB;
    text-align: center;
}

.footersection{
    margin: 2rem 0;
    text-align: center;
}

.footersection a{
    text-decoration: none;
    color: #9a9a9a;
}

.blue-bg{
    background-color: #5385c1;
}

@media screen and (max-width:480px){

    nav{
        display: none;
    }

    .section{
        text-align:left;
    }
    #banner{
        padding: 6em 1.5em 4em 1.5em;
    }
    #banner p{
        font-size: .9em;
    }
    .container{
        width:90%;

    }
    .button{
        
        display:inline-block;
        margin-right:1rem;
        text-decoration: none;
    }

    .image.fit{
        display: block;
        margin-bottom: 2em;
        width: 100%;
    }

    .text {
        text-align: left;
    }

    .imgsub{
        text-align: left;
    }
    
    .footerbutton{
        text-align: left;
        border-top: none;
        font-weight: 600;
        display: block;
    }

    .button.special{
        font-weight: 600;
    }
    
}
@media screen and (max-width:736px){

    #banner{
        padding: 8em 1.5em 6em 1.5em;
    }
    #banner p{
        font-size: .9em;
    }
    .break-1{
        display:flex;
        margin:0 -0.75rem;
    }
    .block{
        margin:0 0.75rem;
    }
    .big-heading {
        font-size:2.75rem;
    }
    h2 + .subtitle {
        margin-top:-3rem;
    }

    .footersection{
        text-align: left;
    }
}
@media screen and (max-width:980px){


    .break-1{
        display:flex;
        margin:0 -0.75rem;
        justify-content: space-around;
    }

    .break-2{
        display:flex;
        margin:0 -0.75rem;
    }
    .break-3{
        display:flex;
        margin:0 -1.5rem;
    }
    .block-3{
        width:calc(50% - 1.5rem);
        margin:0 1.5rem;
    }
    
}
@media screen and (max-width:1280px){

    .container{
        max-width:1100px;
    }

    .break-1{
        display:flex;
        margin:0 -0.75rem;
        justify-content: space-around;
    }

    .break-2{
        display:flex;
        margin:0 -0.75rem;
    }
    .break-3{
        display:flex;
        margin:0 -1.5rem;
    }
    .block-3{
        width:calc(50% - 1.5rem);
        margin:0 1.5rem;
    }
    
}
@media screen and (max-width:1680px){
    
    .break-1{
        display:flex;
        margin:0 -0.75rem;
        justify-content: space-around;
        text-align: left;
        padding: 0 0 0 2em;
        font-size: 18px;
        
    }
    .block{
        width: 50%;
        padding: 0 0 0 1.5em;
    }

    .break-2{
        justify-content: space-around;
        display:flex;
        margin:0 -0.75rem;
        text-align: left;
        padding: 0 0 0 2em;
        font-size: 18px;
    }
        
    .break-3{
        display:flex;
        margin:0 -1.5rem;
        text-align: left;
        
    }
    .block-3{
        width:calc(50% - 1.5rem);
        margin:0 1.5rem;
        padding: 0 0 0 3em;
    }
    
    .container{
        max-width:1300px;
    }
    body{
        font-size: 11pt;
    }



    
}